:root{
    font-family: cursive;
}
::placeholder{
    color:black;
}
#secondframe{
    width: 98vw;
    height: 95vh;
    margin-top: 17rem;
position: relative;
scroll-behavior: smooth;
scroll-margin-top: 8rem;
}
.designbackground{
    position: relative;
    transform: rotate(0deg);
    z-index: -1;
    top: -243px;
}
.secondframeform{
    
    background: white;
    width: 44%;
    height: 82%;
    position: absolute;
    right: 15rem;
    top: 0;
    border-radius: 36px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.secondframeform form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 89%;
    position: relative;
    top: 3rem;
   
}
.secondframeform form input{
    height: 3rem;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 3px;
    background: #d2d1d1;
    padding: 15px;
    box-sizing: border-box;
}
.secondframeform form >div{
    /* display: flex;
    align-items: flex-start; */
    width: 88%;
    column-gap: 10px; 
    margin: 5px 0;

}
.secondframeform form label{
    /* background: #613806; */
    /* background: #d2d1d1; */
    width: 6rem;
    height: 1rem;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    display: none; */
}
#previewbtn{
    background:#FC8C09;
    border:none;
    width: 35rem;
    height: 4rem;
    color: white;
    border-radius: 10px;
    /* box-shadow: 6px 8px 36px #FC8C09; */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
   margin: 7px 0;

}
#previewbtn span{
    background: url('../images/14-article-solid.webp');
    background-size: cover;
    width: 35px;
    height: 35px;
}
.secondframeform form #message{
    height: 17rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    background: #d2d1d1;
   
}

.secondframe-illus{
    background: url('../images/youngmanwithlaptoponchair.svg');
    background-size: cover;
    width: 27%;
    height: 68%;
    position: absolute;
    bottom: 11%;
    left: 4%;
}
.templates-wrapper{
    position: absolute;
    left: 17%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
z-index: 3;
display: none;
}
.templates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    width: 20rem;
}
.template1{
    background: url("../images/Group9211.svg");
    background-size: cover;
    width: 10rem;
    background-position: -9px;
    height: 12rem;
    border-radius: 9px;
    transition: transform 0.2s ease-in-out;
    transform: scale(0.8);
}
.template2{
    background: url("../images/Group101.svg");
    background-size: cover;
    width: 11rem;
    height: 12rem;
    border-radius: 9px;
    transition: transform 0.2s ease-in-out;
    transform: scale(0.8);
}
.active-template{
    border: 3px solid #ff7e21;
    transform: scale(1);
}
#imgupld-label{
    left: 19%;
    position: relative;
    width: 77%;
    /* background: white; */
    background: #d2d1d1;
    display: none;
}
.guide{
    position: absolute;
    right: 14px;
    display: flex;
    bottom: 21%;
    z-index: 2;
}
.guide span{

    background: orange;
    color: white;
    border-radius: 9px;
    padding: 10px;
    height: 25px;
    width: 50px;
    text-align: center;
    box-shadow: 1px 1px 27px orange;
    border: 2px solid white;
}
.guide:hover p{
    display: block;
   
}
.guide p{
    display: none;
    border-radius: 10px;
    background: #522719;
    position: absolute;
    color: wheat;
    right: 150px;
    padding: 25px;
    min-width: 400px;
    z-index: 2;
    top: -200px;
    min-height: 250px;
    box-sizing: border-box;
}
.promptdiv{
    left: 16%;
    width: 232px;
    height: 200px;
    position: absolute;
    top: 8%;
    /* border: 1px solid; */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 2
}
#promptform{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
   padding: 10px 10px;
}
#promptform span{
  font-size: 0.9rem;
}
#promptform textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #d2d1d1;
    border: none;
    outline: none;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#promptform button{
    background: #f88a1e;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.attach_file_wrapper{
    position:absolute;
    top:10%;
    right:-21%;
    width: 100px;
    height: 100px;

}
.attach_file_wrapper label{
   
    border-radius: 50%;
    background: #f88a1e;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 50px;

}
.attach_file_wrapper label span{
    background: url('../images/system-solid-49-upload-file.gif');
    background-size: cover;
    width: 40px;height: 40px;   
    cursor: pointer;
}
#attach_file_name{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: min-content;
    display: flex;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    background: white;
}
.attach_link_wrapper{
    position: absolute;
    top: 33%;
    right: -13%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#attach_link{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100px;
    display: flex;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    background: white;
    height: 25px;
    outline: none;
    border: none;
    position: absolute;
    top: 43%;
    right: -24%;
}
.attach_link_wrapper span{
    background: url('../images/icons8-webpage-click-64.png');
    background-size: cover;
    width: 30px;
    height: 29px;
    cursor: pointer;
}   
#buttonname{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100px;
    display: flex;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    background: white;
    height: 25px;
    outline: none;
    border: none;
    position: absolute;
    top: 53%;
    right: -24%;
}
#poster_link{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100px;
    display: flex;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    background: white;
    height: 25px;
    outline: none;
    border: none;
    position: absolute;
    top: 53%;
   
}
.attach_poster{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.attach_poster span{
    background: url('../images/icons8-poster-96.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.attach_poster_wrapper{
    
    position: absolute;
    top: 68%;
    right: -21%;
    width: 100px;
    height: 100px;
}